<html>
  <head>
	  <script src="lib/geolib.js"></script>
  </head>
  <body>
  <div id="navbar"><span>Red Stapler - Geolocation API</span></div>
  <div id="wrapper">
    <button onclick="findLocation()">Get User Location</button>
    <div id="output"></div>
  </div>
  
  </body>
</html>